*{
    margin: 0 auto;
    padding: 0;
}

body{
    background-color: rgb(226, 239, 255);
}

/*---------menu--------*/
#menu{
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 2px 20px rgb(184, 184, 184);
    margin-bottom: 100px;
}
#menu ul{
    font: normal 20pt Arial;
    list-style-type: none;
    padding: 0;
    max-width: 800px;
}
#menu ul li{
    display: inline;
    position: relative;
}
#menu ul li a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    transition: 150ms;
    color: rgba(87, 85, 85, 0.89);
}
#menu ul li a:hover{
    opacity: 50%;
}
#login{
    float: right;
    background-color: rgb(214, 245, 200);
}

#menu ul ul{
    font: normal 10pt Arial;
    display: none;
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 1000px;
}

#menu ul li:hover ul{
    display: flex;
    flex-wrap: wrap;
}
