{%load static%}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%} {%endblock%}</title>
    <link rel="stylesheet" href="{%static 'essencial/configs.css'%}">
    <link rel="stylesheet" href="{%block estilo%} {%endblock%}">
</head>

<body>
<nav id="menu"> 
    <ul>
        <li><a href="{%url 'index'%}"><img src="{%static 'imagens/icone_home.png'%}" alt="icone da página inicial" width="20px" height="20px" id="icone_home">Home</a></li>
        <li><a href="#"><img src="{%static 'imagens/icone_menu.png'%}" alt="icone do menu de países" width="20px" height="20px" id="icone_menu">Menu</a>
            <ul>
                {%for pais in paises%}
                    {%if pais.nome_ingles != "Earth"%}
                        <li><a href="{%url 'dados' pais.nome_ingles%}">{{pais.nome_portugues}}</a></li>
                    {%else%}
                        <li><a href="{%url 'dados' pais.nome_portugues%}">{{pais.nome_portugues}}</a></li>
                    {%endif%}
                {%endfor%}
             </ul>
        </li>
        <li><a href="{%url 'sobrenos'%}">Sobre nós</a></li>
    </ul>

    {%block content%}

    {%endblock%}

    <footer>
        <button>
            <a href="https://github.com/Xandebrabe/Data_Analysis" target="_blank"><img src="{%static 'imagens/ghub.png'%}" width="40px" height="40px" style="padding-top: 25px;"></a>
        </button>

    </footer>

    {%block fim%}

    {%endblock%}