{%extends 'base.html'%}
{%load static%}

{%block title%}Dados - {{nome_pais}}{%endblock%}
{%block estilo%}{%static 'dados/style.css'%}{%endblock%}
    
{%block content%}
<h1>Nome do país: {{nome_pais}}</h1>
    <section id="dados">
        <div id="dados_casos">
            <h2>Casos totais: {{casos}}</h2>
            {%for dia in lista_dias%}
                <p>{{dia}}</p>
            {%endfor%}
            <img src={{dia}}></img>
        </div>
        <div id="dados_mortes">
            <h2>Mortes até o dia atual: {{mortes}}</h2>
        </div>
    </section>
{%endblock%}

{%block fim%}
    <script src="{%static 'dados/script.js'%}"></script>
</body>
</html>
{%endblock%}