{%extends 'base.html'%}
{%load static%}

{%block title%}Dados - {{nome_pais}}{%endblock%}
{%block estilo%}{%static 'dados/style.css'%}{%endblock%}
    
{%block content%}
<h1>Nome do país: {{nome_pais}}</h1>
    <section id="dados">
        <div id="dados_casos">
            <h2>Casos totais: {{casos}}</h2>
            <div id="dia_casos">
                <section>
                    {%for dia in lista_dias%}
                        <p>{{dia}}--></p>
                    {%endfor%}
                </section>
                <section>
                    {%for caso in lista_casos%}
                        <p>{{caso}}</p>
                    {%endfor%}
                </section>
            </div>
        </div>
        <div id="dados_mortes">
            <h2>Mortes até o dia atual: {{mortes}}</h2>
            <div id="dia_mortes">
                <section>
                    {%for dia in lista_dias%}
                        <p>{{dia}}--></p>
                    {%endfor%}
                </section>
                <section>
                    {%for morte in lista_mortes%}
                        <p>{{morte}}</p>
                    {%endfor%}
                </section>
            </div>
        </div>
    </section>
{%endblock%}

{%block fim%}
    <script src="{%static 'dados/script.js'%}"></script>
</body>
</html>
{%endblock%}