{%extends 'base.html'%}
{%load static%}

{%block title%}Página Inicial{%endblock%}
{%block estilo%}{%static 'index/style.css'%}{%endblock%}

{%block content%}
    <div id="wrapper">
        <div class="container body-content">
            <img src="{%static 'index/cefetlogo.jpg'%}"width="125px">
            <h1>Testando página incial!!</h1><br>
            <button id="botao" onclick="clicar()">Clique em mim!</button>
            

    
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            
            <footer>
                <div id="tel">
                    aaaaaaaaaaaaaaaaagdfgdfgdfgdfgdjjjjjjjjjjjjjjjjjjjjjjjj
                </div>
                <div id="email">
                    hfghfhrfhfg
                </div>
            </footer>
        </div>
    </div>
    <script src="{%static 'index/script.js'%}"></script>
</body>
</html>
{%endblock%}