{%load static%}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="{%static 'index/style.css'%}">
    <link rel="stylesheet" href="{%static 'essencial/menu.css'%}">
</head>
<body>
    {%include 'menu.html'%}
    <div id="wrapper">
        <div class="container body-content">
            <img src="{%static 'index/cefetlogo.jpg'%}"width="125px">
            <h1>Testando página incial!!</h1><br>
            <button id="botao" onclick="clicar()">Clique em mim!</button>

    
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <footer>
                <div id="tel">
                    aaaaaaaaaaaaaaaaagdfgdfgdfgdfgdjjjjjjjjjjjjjjjjjjjjjjjj
                </div>
                <div id="email">
                    hfghfhrfhfg
                </div>
            </footer>
        </div>
    </div>
    <script src="{%static 'index/script.js'%}"></script>
</body>
</html>