{%extends 'base.html'%}
{%load static%}

{%block title%}Sobre nós{%endblock%}
{%block estilo%}{%static 'sobrenos/style.css'%}{%endblock%}

{%block content%}

<body>
    <center>
        <div id="bsobre">
            <h2>Somos uma equipe de estudantes do quarto ano do CEFET, com o objetivo de desenvolver um sistema de análise de dados sobre a pandemia de Covid-19 pelo mundo</h2>
        </div>
    </center>
</body>

{%endblock%}

{%block fim%}
<script src="{%static 'sobrenos/script.js'%}"></script>
</body>

</html>
{%endblock%}