{%load static%}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre nós</title>
    <link rel="stylesheet" href="{%static 'index/style.css'%}">
</head>
<body>
    {%include 'menu_footer.html'%}
    <h1>Somos uma equipe de estudantes do quarto ano do CEFET, com o objetivo de desenvolver um sistema de análise de dados sobre a pandemia de Covid-19 pelo mundo</h1>
</body>
</html>