{%extends 'base.html'%}
{%load static%}

{%block title%}Sobre nós{%endblock%}
{%block estilo%}{%static 'sobrenos/style.css'%}{%endblock%}

{%block content%}

<body>
    <center>
        <div id="bsobre">
            <h2>
                Três alunos do CEFET/RJ trabalhando em um Projeto TCC de Análise de Dados (Projeto Final de Curso).
                Todos nós temos 18 anos durante este projeto. Nossos nomes são Alexandre Fonseca, Daniel Bonfim e
                Nícolas Arruda.</h2>
        </div>
        <div id="cont">

            <li style="font-size: 30px;">Alexandre Fonseca de Souza - <a href="https://github.com/Xandebrabe"
                    target="_blank" style="text-decoration: none; font-size: 30px;color: inherit;">GitHub</a> - <a
                    href="https://www.linkedin.com/in/alexandrefonseca00/" target="_blank"
                    style="text-decoration: none; font-size: 30px;color: inherit;">LinkedIn</a></li>

            <div style="padding-top: 10px;">

                <li style="font-size: 30px;">Daniel Bonfim da Silva Machado - <a href="https://github.com/D-Bonfim"
                        target="_blank" style="text-decoration: none; font-size: 30px; color: inherit;">GitHub</a> - <a
                        href="https://www.linkedin.com/in/daniel-machado-08a692216/" target="_blank"
                        style="text-decoration: none; font-size: 30px;color: inherit;">LinkedIn</a></li>
                    </a>
            </div>

            <div style="padding-top: 10px;">

                <li style="font-size: 30px;">Nícolas da Mota Arruda - <a href="https://github.com/Nickashu"
                        target="_blank" style="text-decoration: none; font-size: 30px;color: inherit;">GitHub</a> - <a
                        href="https://www.linkedin.com/in/n%C3%ADcolas-arruda-310743208/" target="_blank"
                        style="text-decoration: none; font-size: 30px;color: inherit;">LinkedIn</a></li>
                </a>
            </div>

        </div>
    </center>
</body>

{%endblock%}

{%block fim%}
<script src="{%static 'sobrenos/script.js'%}"></script>
</body>

</html>
{%endblock%}