body{
    background-color: rgb(226, 239, 255);
    color: brown;
}

/*---------Botão--------*/

#botao{
    border: none;
    border-radius: 50px;
    height: 40px;
    font-weight: bold;
    background-color: rgb(200, 200, 37);
}

/*---------footer--------*/
footer{
    font: normal 20pt Arial;
    position: absolute;
    bottom: 0;
    background-color: rgb(255, 255, 255);
    color: rgba(87, 85, 85, 0.89);
    width: 100%;
    height: 100px;
    text-align: center;
    justify-content: center;
}
footer div{
    display: inline;
}
#tel{
    text-align: left;
}
#email{
    text-align: right;
}

/*---------para o footer ficar no fundo--------*/
#wrapper{
    min-height: 100%;
    position: relative;
}

div.body-content{
    padding-bottom: 100px;
}
